<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeWork 23-24 MVC ToDo</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
<script data-main="js/app" src="js/require.js"></script></head>
<body>
    <header class="header">
        <div class="wrapper">
            <h1 class="header__title">ToDo List</h1>
        </div>
    </header>

    <section class="list">
        <div class="wrapper">
            <ul id="list">
            </ul>
            <textarea class="list__input" placeholder="Please, enter text" autofocus></textarea>
            <center>
                <button class="list__add-button">Add</button>
            </center>
        </div>
    </section>

    <script id="list-template" type="text/template">
        <% for (var i = 0; i < data.length; i++) { %>
        <li class="list__elem">
            <span class="list__text"><%= data[i] %></span>
            <div class="list__buttons">
                <span class="list__remove-item">x</span>
                <span class="list__edit-item">Edit</span>
            </div>
        </li>
        <% };%>
    </script>

</body>
</html>