/*s:Main page*/

body{
	background: url("../img/pampik_pattern_pampers_left.png") no-repeat left top, #009999 url("../img/pampik_pattern_pampers_right.png") no-repeat right top;
	background-attachment: fixed
}
.active>span, .row-menu.row-cat {
	color: #00b0af;
}
.row-menu b{
	color: #00b0af;
}
.positions-item .row-item .row-item-toptab {
	background: #cedfe0;
}
.row-item-content .row-item-price span {
	color: #009999;
	font-weight: 600;
	font-style: sans-serif;
}
/*.row-item-content .row-item-price b {
	font-weight: 800;
}*/
.positions-item .row-item .row-item-content .button-buy, .acc-slide .acc-slide-inner .button-buy, .button-buy-form {
	background: #009999;
}
.positions-item .row-item .row-item-content .button-buy:hover, .button-buy-form .minus-product-bt:hover, .button-buy-form .plus-product-bt:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8fc716), color-stop(1, #74a705));
    background-image: -o-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: -moz-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: -ms-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: linear-gradient(to bottom, rgb(3, 190, 190) 0%, #009999 100%);
}
.input-tab-search {
	color: #009999;
	font-weight: 700;
}
.positions-item .row-item .row-item-content .button-buy:active, .button-buy-form .minus-product-bt:active, .button-buy-form .plus-product-bt:active {
    background: #009999;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
}

/*e:Main page*/

/*s:Banner*/

.pampers_banner {
	margin:0 auto;
	width: 1000px;
}

.bx-wrapper {
	position: relative;
	/*margin: 15px auto;*/
	right: 20px;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
}

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

.bx-wrapper .bx-pager {
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    right: 5px;
    bottom: 10px;
    z-index: 110000;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #8ed5d5;
}

.bx-controls-direction {
	display: none;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/*e:Banner*/
/*s: ProductPage*/
.item-container .row-describe-main .desc-cont .row-left .price-tab .row-item-price span {
	color: #009999;
}
.desc-cont .row-menu b {
	color: #fe7201;
}
.item-container .row-describe-main .desc-cont .row-left .price-tab .row-item-price .button-buy:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(3, 190, 190)), color-stop(1, #009999));
    background-image: -o-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: -moz-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: -ms-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: linear-gradient(to bottom, rgb(3, 190, 190) 0%, #009999 100%);
}
.item-container .row-describe-main .desc-cont .row-left .price-tab .row-item-price .button-buy {
	background: #009999;
    border-radius: 24px;
}
.item-container .row-describe-main .desc-cont .row-left .price-tab .row-item-price .button-buy:active {
    background: #009999;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
/*e: ProductPage*/