.menu {
	width: 500px;
	margin: 0 auto;
	padding: 30px 0;

}
.submenu {
	display: none;
	position: absolute;
	z-index: 10000;
	background: orange;
	left: -10px;
}
.submenu a {
	line-height: 30px;
}
.menu li {
	list-style-type: none;
}
.menu a {
	text-decoration: none;
}
.li__menu {
	background: orange;
	display: inline-block;
	position: relative;
}
.li__menu a {
	line-height: 30px;
    padding: 5px 22px;
    text-shadow: 0 0 1em #fff;
}

.check {
	margin: 0 auto;
    width: 150px;
}
label{
	display: block;
	
}
.jq-checkbox.checked .jq-checkbox__div {
	background: rgba(250, 104, 0, 0.85);
    box-shadow: inset 0 -3px 6px rgba(221, 224, 25, 0.78);
}