/* @media only screen and (max-width: 1000px) {
  сюда можно вписать альтернативную форму
} */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	background: url(../img/background.png) no-repeat center top fixed;
	background-size: cover;
	font-family: "Helvetica Neue";
	font-size: 14px;
}

.row {
	background: #074c89;
	}

.width {
	width: 900px;
	height: 38px;
	margin: 0 auto;
}

.menu {
	float: right;
}

.menu li{
	float: left;
	line-height: 38px;
}

.menu a {
	color: #60b5ed;
	text-decoration: none;
	display: block;
	padding: 0 12px 0;
}

.menu li:hover {
	background: #4eabda;
}

.menu li:hover a {
	color: #fff;
}

.menu a:visited {
	color: #60b5ed;
}

.rmenu {
	color: #fff;
	padding: 0 5px;
    float: right;
}

.rmenu li{
	float: left;
	line-height: 36px;
	padding: 0 10px 0;
}

.rmenu a {
	color: #fff;
	text-decoration: none;
	padding: 0 5px 0;
}

.under a {
	text-decoration: underline;
}

.under a:hover {
	text-decoration: none;
}

.under {
	background: linear-gradient(to top, #2e7ac4, #50afdc);
	border: 1px solid #509fd9;
}

.rmenu img {
    margin: 4px -7px -6px 0px;
    border-left: 1px solid #60b5ed;
    padding-left: 8px;
    display: block;
}


.rmenu a:visited {
	color: #fff;
}

.clearfix:after {
	content:'';
	clear: both;
	display: block;
}

.content {
	height: 600px;
	width: 550px;
	background: url(../img/black-back.png) no-repeat 50% 50%;
	background-size: cover;
/*  position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
z-index: -1; */
	color: #ccc;
	margin: 50px auto;
}

h2 {
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 52px;
}

.content a img {
	display: block;
	margin: 38px auto;
}

.content img {
	display: block;
	margin: 34px auto;
}
.inner {
	width: 275px;
	margin: 0 auto;
}
input {
 	width: 247px;
    background: #0f0f0f;
    color: #cccccc;
    border: 0px;
    line-height: 33px;
    margin: 8px;
    padding-left: 19px;
    border-bottom: 1px solid #484948;
}

input:focus {
	background: linear-gradient(to top, #375373, #334c67);
	-webkit-box-shadow: 0px 0px 16px 5px rgba(127,154,180,0.6);
	-moz-box-shadow: 0px 0px 16px 5px rgba(127,154,180,0.6);
	box-shadow: 0px 0px 16px 5px rgba(127,154,180,0.6);
}

.check input {
	width: 16px;
}

.inner p {
	font-size: 11px;
	text-align: center;
	line-height: 15px;
}

.submit {
	width: 150px;
    margin: 0 auto;
}

.submit input {
	width: 150px;
    background: linear-gradient(to top, #2e7ac4, #50afdc);
    padding: 0;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #6bb9e7;
    margin: 10px 0 10px -10px;
    cursor: pointer;
}