@media (min-width: 980px) {
    /*-----*/
    .custom-bar-chart {
        margin-bottom: 40px;
    }

}

@media (min-width: 768px) and (max-width: 979px) {

    .mail-box .sm-side {
        width: 30%;
    }

    .mail-box .lg-side {
        width: 70%;
    }
    /*-----*/
    .custom-bar-chart {
        margin-bottom: 40px;
    }

    /*chat room*/

    .chat-room-head {
        border-radius: 4px 4px 0 0;
        -webit-border-radius: 4px 4px 0 0;
    }

    /**/
    .chat-txt {
        width: 65%;
    }
}

@media (max-width: 768px) {

    .header {
        position: absolute;
    }

    /*sidebar*/

    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
    }


    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important;
    }

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
    #sidebar > ul > li > a i{
        /*display: none !important;*/
    }

    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px;
    }

    #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
    #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open{
        margin-top: 15px;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
    #sidebar > ul > li > ul.sub > li > a:hover {
        /*background: #4A8BC2 !important ;*/
    }


    /* sidebar */
    #sidebar {
        margin: 0px !important;
    }

    /* sidebar collabler */
    #sidebar .btn-navbar.collapsed .arrow {
        display: none;
    }

    #sidebar .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top:48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }

    /*---------*/

    .btn {
        margin-bottom: 5px;
    }

    .mail-box aside {
        display: block;
    }

    .mail-box .sm-side , .mail-box .lg-side{
        width: 100% ;
    }

    /*--*/

    .stepy-titles li {
        margin: 10px 3px;
    }

    /*--horizontal menu--*/

    .top-nav {
        position: absolute;
        right: 10px;
        top: 0px;
    }

    /*-----*/
    .custom-bar-chart {
        margin-bottom: 40px;
    }

    /*menu icon plus minus*/
    .dcjq-icon {
        top: 10px;
    }
    ul.sidebar-menu li ul.sub li a {
        padding: 0;
    }
}

@media (max-width: 480px) {

    .search {
        display: none;
    }

    .mail-box aside {
        display: block;
    }

    .mail-box .sm-side, .mail-box .lg-side{
        width: 100% ;
    }

    ul.top-menu > li {
        float: right;
    }

    /*--horizontal menu--*/

    .top-nav {
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #ccc;
        border-color:#ccc ;
    }

    /*chat room*/


    ul.chat-user {
        margin-bottom: 20px;
    }

    .chat-room-head {
        border-radius: 4px 4px 0 0;
        -webit-border-radius: 4px 4px 0 0;
    }
}

@media (max-width:320px) {
    .search {
        display: none;
    }

    .mail-box aside {
        display: block ;
    }

    .mail-box .sm-side , .mail-box .lg-side{
        width: 100% ;
    }

    ul.top-menu > li {
        float: right;
    }

    .stepy-titles li.current-step div, .stepy-titles li div {
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
}
