@font-face {
    font-family: Tahoma; 
    src: url(fonts/tahoma.ttf); 
}

body {
	background: url(../img/background.png) repeat-x #0c739f;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 14px;
	color: #424c43;
}

p {
	line-height: 20px;
}

.container {
	width: 1000px; 
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.logo {
    margin: 15px 30px 0;
    float: left;
}

.contacts {
    float: right;
    line-height: 19px;
    font-size: 12px;
    color: #5fa5bb;
    margin: 10px 30px;
}
.contacts h2 {
	font-weight: 600;
}

.countries {
    float: right;
    clear: right;
    margin: 8px 0px 0;
    padding-bottom: 10px;
    font-size: 9px;
}
.ball {
    display: inline-block;
    text-align: center;
    width: 50px;
}
.ball a {
	line-height: 14px;
	color: #5fa5bb;	
}

.ball a:visited {
	color: #5fa5bb;	
}
.slide img {
    border-top: 1px solid #138aa7;
    border-bottom: 1px solid #138aa7;
}

.nav{
	padding: 0 2px;
	background: #333;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.51);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.51);
	border-bottom: 1px solid #000;
}
.nav li{
	float:left;
	padding: 5px 30px;
	position:relative;
	line-height: 20px;
}
.nav li a{
	display:block;
	padding:5px;
	color:#fff;
	background:#333;
	text-decoration:none;
}
.nav li a:hover{
	color:#fff;
}
/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
.nav ul{
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
}
.nav ul li{
	float:none;
	margin-left:0;
	width: 100%;
	padding: 0 5px; 
}
.nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
	-webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.51);
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.51);
}
.nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
	border-top: 1px solid black;
}

.nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#333;
}
.content {
	background: url(../img/backgroundcont.png) repeat-y;
}
.content h2 {
	text-align: center;
	font: 600 18px Tahoma;
	line-height: 35px;
}
.column1{
	float: left;
	width: 180px;
	padding: 0 15px 10px 13px;
}
.column2{
	width: 546px;
	margin: 0 auto;
	padding: 7px 17px 10px;
}
.column3{
	float: right;
	width: 180px;
	padding: 0 13px 10px 15px;
}
.clearfix:after {
	content:'';
	clear: both;
	display: block;
}

footer {
	text-align: center;
	color: #fff;
	line-height: 41px;
}