/*s:Main page*/
body{
	background: url("../img/pampik_pattern_pampers_left.png") no-repeat left top,  url("../img/pampik_pattern_pampers_right.png") no-repeat right top;
	background-attachment: fixed
}
.active>span, .row-menu.row-cat, .row-menu  {
	color: #00b0af;
}
.positions-item .row-item .row-item-toptab {
	background: #cedfe0;
}
.row-item-content .row-item-price span {
	color: #009999;
	font-weight: 800;
	font-style: sans-serif;
}
.row-item-content .row-item-price b {
	font-weight: 800;
}
.positions-item .row-item .row-item-content .button-buy, .acc-slide .acc-slide-inner .button-buy, .button-buy-form {
	background: #009999;
}
.positions-item .row-item .row-item-content .button-buy:hover, .button-buy-form .minus-product-bt:hover, .button-buy-form .plus-product-bt:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8fc716), color-stop(1, #74a705));
    background-image: -o-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: -moz-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: -ms-linear-gradient(bottom, rgb(3, 190, 190) 0%, #009999 100%);
    background-image: linear-gradient(to bottom, rgb(3, 190, 190) 0%, #009999 100%);
}
.input-tab-search {
	color: #009999;
	font-weight: 700;
}
/*e:Main page*/
/*s:Banner*/
section {
    padding: 1px;
}

.carousel {
    position: relative;
    overflow: hidden;
}
.jcarousel_wrapper {
	margin: 10px auto 40px auto;
    position: relative;
    width: 990px;
    height: 337px;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.jcarousel_pagination {
    bottom: -35px;
    position: absolute;
    right: 10px;
}

.jcarousel_page {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    background: #8ed5d5;
    border: 2px #009999 solid;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    transition: all 0.2s linear;
}

.jcarousel_page:hover {
    background: #009999;
}

.active {
    background: white;
}

/*e:Banner*/