body {
	background-color: #eeeeee;
	font-size: 18px;

}
#content {
	background: #ffffff;
	width: 463px;
	margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 30px 50px;
}
h2 {
	text-align: center;
}
.fotoUser {
    text-align: center;
}
p {
	
	padding-left: 10px;
}