@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {

    font: 24px "League Gothic";
}

.wrapper1{
    position: relative;
    width: 960px;
    margin: 0 auto;
}
header {
    background: url(../img/bg_header.jpg) center top;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    height: 845px;
}
.row {
    padding: 60px 0;
}

.logo {
    float: left;
    color: #fff;
    font-size: 48px;
}
.colored {
    background: linear-gradient(to top, #140F17, #7B4D8E);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}
.hmenu {
    float: left;
    margin: 11px 0 0 120px;
}
.menu__item {
    float: left;
}
.menu__link {
    color: #fff;
    text-decoration: none;
    margin-left: 42px;
    padding: 0 4px;
}
.menu__link:hover {
    border-bottom: 2px solid #edbfff;
}
.wrapper2 {
    background: rgba(1,1,1,.2);
    min-height: 400px;
    margin-top: 160px;
}
.slider1{
/*    max-width: 960px;
    max-height: 400px;*/
    position: relative;
}
.text {
    margin-top: 70px;
    float: left;
    /*width: 40%;*/
}
.slider1__h2 {
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-size: 60px;
    text-transform: none;
}
.slider1__h3 {
    color: #cdaadd;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    font-size: 32px;
}
.slider1__p {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans';
    text-shadow: 1px 1px 2px black;
    max-width: 500px;
    text-transform: none;
}
.slider1__img {
    float: right;
    margin-left: 80px;
    /*width: 33%;*/
    
}
/* .bg {
    height: 400px;
    background: rgba(1,1,1,.2);
} */
.about_panel {
    position: relative;
    background: linear-gradient(to top, #322539, #745083);
    min-height: 340px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #0d151b;
    -webkit-box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.5);
}
.item {
    position: relative;
    padding: 72px 0 0 62px;
}
.column1 {
    float: left;
    width: 31%;
}
.column3 {
    float: left;
    width: 31%;
}
.column2 {
    width: 31%;
    margin: 0 3% 0 4%;
    float: left;
}
.item__h3 {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
}
.item__h3:before {
    position: absolute;
    background: url(../img/about_img.png);
    content: '';
    width: 27px;
    height: 24px;
    margin-left: -38px;
    top: 84px;
    left: 50px;
}
.item__p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
    margin-top: 7px;
    line-height: 24px;
    padding: 0 9% 0 0;
}
.item__a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    float: right;
    text-shadow: 1px 1px 2px black;
    font-size: 18px;
    margin-right: 10px;
}
.item__a:hover {
    text-shadow: 0 0 1em #fff;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
    transition: 0.3s;
}
.item__a:visited {
    color: #fff;
}
.music .item__h3:before {
    position: absolute;
    background: url(../img/about_img.png);
    content: '';
    width: 27px;
    height: 24px;
    background-position: 27px;
    margin-left: -38px;
    top: 84px;
    left: 50px;
}
.speach .item__h3:before {
    position: absolute;
    background: url(../img/about_img.png);
    content: '';
    width: 27px;
    height: 24px;
    background-position: -31px;
    margin-left: -38px;
    top: 84px;
    left: 50px;
}
.testimonials {
    background: #f9f9f9;
    padding: 4% 1% 3% 0%;
    border-bottom: 1px solid #e6e6e6;
    z-index: 100;
}
.column4 {
    float: left;
    width: 43%;
    background: #fff;
    margin: 0px 0px 0 70px;
    position: relative;
    box-shadow: 0px 0px 1px 0px rgba(1,2,4,0.1);
}
.column4:before {
    position: absolute;
    background: url(../img/corner.png);
    content: '';
    width: 20px;
    height: 20px;
    margin-left: -38px;
    top: 100%;
    left: 90%;
}
.column5 {
    float: left;
    width: 41%;
    color: #454545;
    margin: 14px 0 0 70px;
}
.slide {
    padding: 18px 2px 5px 26px;
    position: relative;
}
.slide .item__h3 {
    color: #454545;
    float: left;
    text-shadow: none;
}
.slide .item__p {
    color: #454545;
    text-shadow: none;
    overflow: hidden;
}
.slide .item__h4 {
    color: #edbfff;
    float: left;
    text-transform: uppercase;
    font-size: 31px;
}
.slide .item__h3:before {
    position: absolute;
    background: url(../img/photo.png);
    content: '';
    width: 48px;
    height: 49px;
    margin-left: -38px;
    top: 17px;
    left: 12px;
}
.updates {
    text-transform: uppercase;
    font-size: 30px;
}
.post {
    padding-left: 64px;
    position: relative;
    margin: 24px 0;
}
.post__header {
    font-family:  sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.post__header:before {
    position: absolute;
    background: url(../img/upd_img.png);
    content: '';
    width: 48px;
    height: 50px;
    left: -1px;
    top: -7px;
}
.second:before {
    background-position-y: -50px;
}
.third:before {
    background-position-y: 50px;
}
.post__article {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.upd {
    color: #454545;
    text-shadow: none;
    margin-right: -22px;
}
.upd:visited {
    color: #454545;
}
.brand  {
    background: #f9f9f9;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
 .brandmenu {
    max-width: 800px;
    margin: 0 auto;
} 
.brandmenu__a {
    margin: 3% 1%;
    float: left;
}
.pre-footer {
    position: relative;
    background: #ececec;
    border-top: #dddddd;
    padding: 4% 0 5% 0;
    -webkit-box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 3px 2px rgba(0,0,0,0.5);
}
.grey {
    float: none;
    color: #454545;
    text-transform: uppercase;
}
.grey .colored {
    color: #b9b9b9;
}
.pre-footer__copy {
    font-family: Georgia, serif;
    font-size: 16px;
    font-style: italic;
    color: #c5c5c5;
    margin: 8px 0 10px 0;
}
.pre-footer__p {
    font-size: 16px;
    color: #787878;
    font-family: 'Open Sans', sans-serif;
}
.pre-footer__h3 {
    color: #454545;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 32px;
}
footer {
    background: url(../img/bg_footer.png);
    color: #fff;
    padding: 37px 0;
    font-size: 21px;
}
.copyright {
    line-height: 41px;
    text-align: right;
    font-family: "Open Sans";
    font-size: 12px;
    width: 135px; 
    float: right;
}
.fmenu {
    float: left;
    margin-left: -44px;
}
.clearfix:after {
	content:'';
	clear: both;
	display: block;    
}
@media (max-width: 768px) {
    header {
        height: 798px;
    }
    .wrapper1 {
        padding-left: 20px;
        width: 98%;
    }
    .wrapper2 {
        padding-left: 20px;
        margin-top: -16px;
    }
    .logo {
        float: none;
    }
    .hmenu {
        margin: 22px 0 0 0;   
    }
    .menu__link {
        margin: 0 52px 0 0;
        padding: 0;
    }
    .text {
        margin-top: 91px;
        width: 40%;
        overflow: hidden;
        height: 200px;
    }
    .slider__h2 {
        font-size: 52px;
    }
    .slider__h3 {
        font-size: 25px;
    }
    .slider__p {
        font-size: 15px;
    }
    .slider1__img {
        float: left;
        margin-left: 72px;
    }
    .slide .item__h3 {
        font-size: 24px;
        float: none;
    }
    .item__p {
        font-size: 15px;
        height: 145px;
        overflow: hidden;
    }
    .item__h3 {
        font-size: 24px;
    }
    .item__a {
        margin-right: 22px; 
    }
    .slide .item__h4 {
        font-size: 23px;
    }
    .slide .item__p {
        font-size: 16px;
    }
    .testimonials {
        padding-top: 13%;
    }
    .column4 {
        margin: 0px 0px 0 20px;
    }
    .updates {
        font-size: 31px;
    }
    .column5 {
        margin: 14px 0 0 45px;
    }
    .post__article {
        height: 21px;
        overflow: hidden;
    }
    .pre-footer__p{
        width: 215px;
        overflow: hidden;
    }
    .fmenu {
        margin-left: 0px;
    }
    .copyright{
        margin-right: 15px;
    }
    footer {
        padding: 37px 0 0;
    }
}
@media (max-width: 480px) {
    .column1, .column2, .column3 {
        width: 100%;
        margin: 20px 10px 9px 10px;
    }
    .copyright {
        float: none;
        margin: 0 auto;
    }
    .brandmenu {
        padding: 8px 53px;
    }
    .brandmenu__a {
        margin: 30px 6px 6px 6px;
    }
    header {
        height: 550px;
    }
    .wrapper1 {
        width: 100%;
    }
    .wrapper2 {
        margin-top: -203px;
        height: 250px;
        min-height: 220px;
    }

    .menu__item {
        display: none;
        position: relative;
    }
    .home {
        display: block;
        
    }
    .hmenu {
        margin: 23px 0 0 24px;
        float: none;
        position: absolute;
        z-index: 1000;
    }
    .logo {
        float: none;
    }
    .row {
        margin: 0 auto;
        width: 158px; 
        padding: 60px 0 206px 0;    
    }
   .hmenu:hover .menu__item  {
        display: block;
        float: none;
        margin: 0 0 0 -35px;
        background: rgba(63,50,71,0.7);
        text-align: center;
    }
    .hmenu:hover .menu__link:hover  {
        background: rgba(63,50,71,0.9);
    }
    .home, .home .menu__link:hover {
        border-radius: 7px 7px 0 0;
    }
    .dolor, .dolor .menu__link:hover {
        border-radius: 0 0 7px 7px;
    }
    .dolor .menu__link {
        border-bottom: none;
    }
    .menu__link {
        margin: 0;
        padding: 2px 34px 3px 34px;
        display: block;
        border-bottom: 1px;
    }
    .slider1__h2{
        font-size: 37px;
    }
    .slider1__h3 {
        font-size: 17px;
    }
    .slider1__p {
        display: none;
    }
    .slider1__img {
        margin-left: 18px;
    }
    .slider1__img img {
        width: 190px;
    }
    .text {
        width: inherit;
    }
    .item__p {
        height: 78px;
        overflow: hidden;
        font-size: 14px;
    }
    .item__a{
        margin-right: 55px;
    }
    .about_panel {
        padding: 53px 0 63px 0;  
    }
    .item__h3:before, .speach .item__h3:before, .music .item__h3:before {
        top: 4px;
    }
    .item {
        padding: 0 0 0 62px;
    }
    .testimonials {
        padding: 73px 0 86px 15px;
    }
    .slide .item__p {
        font-size: 15px;
        height: 200px;
    }
    .slide {
        padding: 20px 0 0 44px;
    }
    .column4 {
        width: 88%;
    }
    .slide .item__h3 {
        float: left;
        font-size: 29px;
    }
    .slide .item__h4 {
        font-size: 29px;
    }
    .column5 {
        margin: 91px 0 0 59px;
        width: 80%;
    }
    .post__article {
        width: 250px;
    }
    .upd{
        margin-right: 100px;
    }
    .pre-footer {
        padding: 58px 0px;
    }
    .grey, .pre-footer__h3 {
        font-size: 25px;
    }
    .pre-footer__copy {
        display: none;
    }
    .pre-footer__p {
        width: 395px;
    }
    .fmenu .menu__link {
        padding: 2px 0px 3px 18px;
    }    
    .fmenu .menu__item {
        display: block;
    }
    .fmenu .menu__item .menu__link:hover {
        border-bottom: none;
    }
}
@media (max-width: 320px) {
    .slider1__img{
        display: none;
    }
    .wrapper1 {
        width: 94%;
    }
    .wrapper2 {
        background: none;
    }
    header {
        height: 516px;
    }
    .about_panel {
        padding: 53px 0 51px 0;
    }
    .slide .item__h3 {
        float: none;
        font-size: 22px;
    }
    .slide .item__h4 {
        font-size: 22px;
    }
    .slide .item__p {
        height: 198px;
    }
    .column4 {
        margin: 0;
    }
    .column5 {
        margin: 70px 0 0 -6px;
    }
    .post__article {
        width: 101%;
        font-size: 14px;
    }
    .post__header {
        width: 149px;
        height: 20px;
        overflow: hidden;
    }
    .upd {
        margin-right: 25px;
    }
    .brandmenu {
        padding: 8px 20px 87px 20px;
    }
    .pre-footer {
        display: none;
    }
    .fmenu {
        display: none;
    }
    footer {
        padding: 29px 0 44px 12px;
    }
}

