body {
	background: url(../img/bg2.jpg) no-repeat center top 60px fixed black;
	color: #d3b26d;
	font-size: 60px;
}

.wrapper {
	width: 355px;
	margin: 65px auto;
}

button {
	background: #d3b26d;
	width: 100px;
	height: 30px;
	color: #2e251e;
	font-size: 20px;
	border: 1px brown;
	border-radius: 5px;
}
.splits {
	color: #fff;
}