<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>HW-13-14-js</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css" />
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
		
	<div class="container">
    	<h2 class="title">Let's check your 	
useless knowledges!</h2>
		<form>
			<div class="questions"></div>
			<div class="buttons">
			   	<button type="submit" class="check">Check</button> 
			   	<button type="reset" class="reset">Reset</button>
			</div>
	</div>

<script type="text/html" id = "testing">
		<% for (var i =0; i < test.length; i++) { %>
		<div class="section box<%=(i+1)%>">
			<h4>Question <%=test[i].questionNumb%></h4>
			<h5><%=test[i].question%></h5>
				<% for (var j =0; j<test[i].answer.length; j++) { %>
				<div class="checkbox">
			    	<label><input type="checkbox" value="<%=j%>"><%=test[i].answer[j]%></label>	
				</div>
				<%}; %> 
		</div>
		<%}; %>  
</script>


</body>
</html>
