body {
	background: #f9f9f9;
	font: 13.33px "open sans" sans-serif; ;
}

a {
	text-decoration: none;
	color:#656363;
}

a:visited {
	color: #2c2c2c;
}

#container {
	width: 1060px;
	margin: 0 auto;
	padding: 45px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.logo {
	display: inline-block;
	margin-bottom: 40px;
}

.row {
	background: linear-gradient(to top, #464545, #5d5d5d);
	}

.hmenu {
	width: 80%;
	height: 41px;
}

.hmenu ul {
	font-size: 0;
	line-height: 0;
}

.hmenu li{
	font-size: 14.67px; 
	line-height: normal;
	display: inline-block;
	color: #f9f9f9;
	text-shadow: 1px 1px 2px black, 0 0 1em #303030;
	text-align: center;
	width: 17%;
	height: 100%;
}

.hmenu a {
	color: #ffffff;
	display: block;
	height: 41px;
	line-height: 37px;
}

.hmenu a:visited {
	color: #f9f9f9;
}

.hmenu li:hover {
	background: linear-gradient(to top, #2f2f2f, #4a4a4a);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

.content {
	padding: 40px 0;
	width: 1060px;
}

.sidebar {
	float: left;
	width: 20%;
	display: inline-block;
}

.sidebar ul {
	font-size: 0;
	line-height: 0;
}

.sidebar li{
	font-size: 13.33px; 
	line-height: normal;
	border: 1px solid #c8c8c8;
	margin-bottom: -1px;
	height: 20px;
	padding: 10px;
}

.sidebar li:hover{
	padding-left: 20px;
	background: #f9f9f9;
	color: black;
}

.page {
	display: inline-block;
	width: 75%;
	float:right;
}

.byce {
	text-align: center;
	border: 1px solid #c8c8c8;
	padding: 50px 0;
}

.description {
	padding: 35px 20px; 
}

footer {
	background: #e1e1e1;								
}

.fmenu {
	width: 80%;
	height: 41px;
	display: inline-block;
}

.fmenu ul {
	font-size: 0;
	line-height: 0;
}

.fmenu li{
	font-size: 14.67px; 
	line-height: normal;
	display: inline-block;
	color: #2c2c2c;
	text-align: center;
	width: 17%;
	height: 100%;
}

.fmenu a {
	display: block;
	height: 41px;
	line-height: 37px;
}

.fmenu li:hover {
	text-decoration: underline;
}

.copyright {
	float: right;
	width: 20%;
	display: inline-block;
    line-height: 37px;
}