body {
	background: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
	color:#656363;
}

a:visited {
	color: #2c2c2c;
}

#container {
	width: 966px; 
	margin: 0 auto;
	padding: 47px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	clear: both;
}

.logo {
	display: inline-block;
	margin-bottom: 40px;
}

.row {
	background: linear-gradient(to top, #464545, #5d5d5d);
	}

.hmenu ul {
	font-size: 0;
	line-height: 0;
}

.hmenu li{
	font-size: 15px; 
	display: inline-block;
	color: #f9f9f9;
	text-shadow: 1px 1px 2px black, 0 0 1em #303030;
	text-align: center;
	width: 140px;
}

.hmenu a {
	color: #ffffff;
	display: block;
	line-height: 41px;
}

.hmenu a:visited {
	color: #f9f9f9;
}

.hmenu li:hover {
	background: linear-gradient(to top, #2f2f2f, #4a4a4a);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	width: 138px;
}

.content {
	margin: 40px 0;
}

.sidebar {
	float: left;
	width: 240px;
}

.sidebar ul {
	font-size: 0;
	line-height: 0;
	border: 1px solid #c8c8c8;
}

.sidebar li{
	border-bottom: 1px solid #c8c8c8;
	padding: 0 0 0 24px;
}

.sidebar li a {
	display: block;
	font-size: 14px;
	line-height: 40px;
}

.sidebar li:last-child {
	border-bottom: none;
}
.sidebar li:hover{
	padding: 0 0 0 35px;
	background: #f9f9f9;
	color: black;
}

.page {
	width: 678px;
	float: right;
}
.clear {
	clear: both;
}

.byce {
	text-align: center;
	border: 1px solid #c8c8c8;
	padding: 50px 0;
}

.description {
	padding: 35px 20px; 
    line-height: 25px;
}

footer {
	background: #e1e1e1;
}

footer a {
	color: black;
}

.fmenu {
	float: left;
	background: #e1e1e1;
}

.fmenu ul {
	font-size: 0;
	line-height: 0;
}

.fmenu li{
	font-size: 15px;
	display: inline-block;
	color: #2c2c2c;
	text-align: center;
	width: 140px;
}

.fmenu a {
	display: block;
	line-height: 41px;
}

.fmenu li:hover {
	text-decoration: underline;
}

.copyright {
	background: #e1e1e1;
    line-height: 41px;
    text-align: right;
    padding: 0 25px 0 0;
    float: inherit;
}